<script setup lang="ts">
import {Ref} from "vue/dist/vue";

const isCanvas :Ref<any> = ref(null)
const props = defineProps({
  roadList: Array,
})
const fcDrawLine  = (ctx,width,height)=>{
  for(let x = 0; x <= ctx.canvas.width; x += width) {
    ctx.moveTo(x, 0)
    ctx.lineTo(x, ctx.canvas.height)
  }
  for(let y = 0; y <= ctx.canvas.height; y += height) {
    ctx.moveTo(0, y)
    ctx.lineTo(ctx.canvas.width, y)
  }
}

const image = ()=> new URL(`../../assets/img/en-US.svg`, import.meta.url).href

const roadSetting : any = {
  road:{
    D: [[58, 43, 8, 8]],
    T: [[58, 52, 8, 8]],
    DT: [[58, 43, 8, 8], [58, 79, 8, 8]],
    TT: [[58, 52, 8, 8], [58, 79, 8, 8]],
  },
}
const fcGetRoadImage = (ctx,width,height)=>{
  const {road}  =roadSetting;
  props.roadList?.forEach((r,cindex)=>{
    r.forEach(({G},rindex)=>{
      const x = cindex * width
      const y = rindex * height
      const location = [x ,y,width,height]
      let img = new Image()
      road[G]?.forEach((cut)=>{
        img.onerror =  ()=>{
          console.log('error',)
        }
        img.onload =()=>{
          ctx.drawImage(img,...cut,...location)
        }
        img.src = image()
      })
    })
  })
}
const fcDrawCanvas = ()=> {
  const canvas = isCanvas.value
  if (canvas) {
    const ctx = canvas.getContext('2d')
    const width = canvas.width / 15
    const height = canvas.height /15
    ctx.beginPath()
    fcDrawLine(ctx,width,height)
    ctx.strokeStyle = '#fff'; // 設置線條顏色為白色
    ctx.lineWidth = 1; // 設置線條寬度為1
    ctx.stroke()
    fcGetRoadImage(ctx,width,height)
  }
}
onMounted(()=>{
  fcDrawCanvas()
})
</script>

<template>
  <canvas  ref="isCanvas" ></canvas>
</template>

<style scoped lang="scss">

</style>
