<script setup lang="ts">
import {Ref} from "vue/dist/vue";

const isCanvas :Ref<any> = ref(null)
const props = defineProps({
  roadList: Array,
})

const fcDrawLine  = (ctx,width,height)=>{
  for(let x = 0; x <= ctx.canvas.width; x += width) {
    ctx.moveTo(x, 0)
    ctx.lineTo(x, ctx.canvas.height)
  }
  for(let y = 0; y <= ctx.canvas.height; y += height) {
    ctx.moveTo(0, y)
    ctx.lineTo(ctx.canvas.width, y)
  }
}

const image = ()=> new URL(`../../assets/img/roads.svg`, import.meta.url).href

const roadSetting : any = {
  road:{
    0: [0, 0, 20, 20],
    '01': [0, 21, 20, 20],
    '02': [0, 42, 20, 20],
    '03': [0, 63, 20, 20],
    '04': [0, 84, 20, 20],
    '05': [0, 105, 20, 20],
    '06': [0, 126, 20, 20],
    '07': [21, 21, 20, 20],
    '08': [21, 42, 20, 20],
    '09': [21, 63, 20, 20],
    10: [21, 84, 20, 20],
    11: [21, 105, 20, 20],
    12: [21, 126, 20, 20],
    13: [42, 21, 20, 20],
    14: [42, 42, 20, 20],
    15: [42, 63, 20, 20],
    16: [42, 84, 20, 20],
    17: [42, 105, 20, 20],
    18: [42, 126, 20, 20],
    19: [63, 21, 20, 20],
    20: [63, 42, 20, 20],
    21: [63, 63, 20, 20],
    22: [63, 84, 20, 20],
    23: [63, 105, 20, 20],
    24: [63, 126, 20, 20],
    25: [84, 21, 20, 20],
    26: [84, 42, 20, 20],
    27: [84, 63, 20, 20],
    28: [84, 84, 20, 20],
    29: [84, 105, 20, 20],
    30: [84, 126, 20, 20],
    31: [105, 21, 20, 20],
    32: [105, 42, 20, 20],
    33: [105, 63, 20, 20],
    34: [105, 84, 20, 20],
    35: [105, 105, 20, 20],
    36: [105, 126, 20, 20],
  },
}
const fcGetRoadImage = (ctx,width,height)=>{
  const {road}  = roadSetting;
  props.roadList?.forEach(({G},cindex) =>{
    if (!G || !road[+G]) {
      return;
    }
    const x = Math.floor(cindex  / 4 )* width
    const y = (cindex % 4) * height
    const location = [x + 1, y + 1, width - 3, height - 3];
    let img = new Image()
      img.onerror =  ()=>{
        console.log('error',)
      }
      img.onload =()=>{
        ctx.drawImage(img,...road[G],...location)
      }
      img.src = image()
  })
}
const fcDrawCanvas = ()=> {
  const canvas = isCanvas.value
  if (canvas) {
    const ctx = canvas.getContext('2d')
    const width = canvas.width / 14
    const height = canvas.height / 4.3
    ctx.beginPath()
    fcDrawLine(ctx,width,height)
    ctx.strokeStyle = '#fff'; // 設置線條顏色為白色
    ctx.lineWidth = 1; // 設置線條寬度為1
    ctx.stroke()
    fcGetRoadImage(ctx,width,height)
  }
}
onMounted(()=>{
  fcDrawCanvas()
})

</script>

<template>
  <canvas  ref="isCanvas" ></canvas>
</template>

<style scoped lang="scss">

</style>
