<script setup lang="ts">
import {apiLiveGameRoad } from "@/service/game/detail"
import {Ref} from "vue";
import  RoadLive from "@/components/roadLive.vue"
import useLive from "@/mixins/useLive"
import { InterLiveGame} from "@/vite/game";

const {
        liveCategoryList,
        clubList,
        categoryType,
        clubType,
        fcChangeClub,
        fcChangeCategory,
        tableGameList
      } = useLive()

const gameList  = computed<InterLiveGame[]>(()=>{
  try {
    return tableGameList.value.filter((game)=> game.clubType  === categoryType.value && game.thirdPartyId === clubType.value)
  } catch (error) {
    console.error('Error in filtering game list:', error);
    return [];
  }
})
const roadList :Ref<any> = ref({})
const gameTypeList = [
  'Bacc',
  'LongHu',
  'LunPan',
  'ShaiZi',
  'HiLo',
  'FanTan',
  'PokDeng',
  'BCSDD',
  'BCBacc',
  'BCLongHu',
];
const fcGetLiveRoad = async(gameType) =>{
  const param ={
    gameType : gameType
  }
  try{
    const result = await apiLiveGameRoad(param)
    console.log(result)
     if(!result.data) return
    result.data.forEach(({D,P,SI})=>{
      roadList.value[SI] ={
        List: D.L,
        img: P,
        gameType
      }
    })
  }catch(error){
    console.log(error)
  }
}

const fcGetAllLiveRoad = ()=>{
  gameTypeList.forEach(async(gameType)=>{
    await fcGetLiveRoad(gameType)
  } )
}
let start = null
let animationFrameId = null;
const timerCheck  =(timer)=>{
    if(start === null) {
      start = timer
    }
  const elapsed = timer - start;
    if(elapsed > 10000){{
      fcGetAllLiveRoad()
      start = null
    }}
  animationFrameId= window.requestAnimationFrame(timerCheck)
}
animationFrameId= window.requestAnimationFrame(timerCheck)

onMounted(()=>{
  fcGetAllLiveRoad()
})
onUnmounted(()=>{
  start = null
  window.cancelAnimationFrame(animationFrameId)
})

</script>

<template>
  <div class="grid gap-3  grid-cols-6 my-3">
    <button
        v-for="(category, index) in liveCategoryList"
        :key="index"
        class="bg-amber-300 text-white font-bold py-2 px-4 rounded-full border-2 border-cyan-500 break-words min-w-48 "
        :class="categoryType === category.clubType? 'bg-green-500' : ''"
        @click="fcChangeCategory(category.clubType)"
    >
      {{ category.clubType }}
    </button>
  </div>
  <div class="grid gap-10  grid-cols-10 my-2">
    <button
        v-for="(club, index) in clubList"
        :key="index"
        class="bg-amber-300 text-white font-bold py-2 px-4 rounded-full border-2 border-cyan-500 min-w-16 "
        :class="clubType === club.thirdPartyId? 'bg-green-500' : ''"
        @click="fcChangeClub(club.thirdPartyId)"
    >
      {{ club.thirdPartyId }}
    </button>
  </div>
  <div class="flex flex-wrap flex-col">
    <div
        v-for="(game) in gameList" :key="game.desk"
        class="w-1/5 my-2 p-2 text-white rounded-lg"
    >
      {{game.name}} {{game.desk}}
      <img :src="roadList[game.serverId]?.img" alt="" class="w-full h-auto my-2">
      <RoadLive
          :roadList="roadList[game.serverId]?.List"
          :gameType="game.clubType"
      />

    </div>
  </div>

</template>

<style scoped lang="scss">
canvas{
  width: 300px;
  height: 200px;
  background-color: #000;
}
</style>
