<template>
    <div class="report-wrap">
        <h1>報表</h1>
        <el-divider />
        <el-form :model="form" v-show="!reportVisible">
            <el-form-item>
                <el-button type="primary" v-for="(item, index) in dateList" :key="index" @click="fcChangeTime(item)">
                    {{ item.text }}
                </el-button>
            </el-form-item>
            <el-form-item>
                <el-col :span="5" class="ui_iptDate">
                    <input type="date" class="ipt_date" :min="dateMin" :max="dateMax" v-model="form.dateStart" />
                </el-col>
                <span>~</span>
                <el-col :span="5" class="ui_iptDate">
                    <input type="date" class="ipt_date" :min="dateMin" :max="dateMax" v-model="form.dateEnd" />
                </el-col>
            </el-form-item>
            <div class="form-row">
                <el-col :span="6">
                    <div class="form-col">
                        <header>
                            <div class="form_title">
                                種類
                            </div>
                        </header>
                        <select class="ui_sel" v-model="form.class" @change="fcChangeClass(form.class)">
                            <option :value="item.value" v-for="(item, index) in gametypeList" :key="index">
                                {{ $t(item.text) }}
                            </option>
                        </select>
                    </div>
                </el-col>
                <el-col :span="6">
                    <div class="form-col">
                        <header>
                            <div class="form_title">遊戲館別</div>
                        </header>
                        <select class="ui_sel" v-model="form.club" @change="fcChangeClub(form.club)">
                            <option value="ALL">
                                全部
                            </option>
                            <option :value="item.thirdParty_Id" v-for="item in clubList" :key="item.thirdParty_Id">
                                {{ item.thirdParty_Id }}
                            </option>
                        </select>
                    </div>
                </el-col>
                <el-col :span="6">
                    <div class="form-col">
                        <header>
                            <div class="form_title">
                                遊戲名稱
                            </div>
                        </header>
                        <select class="ui_sel" v-model="form.game" @change="fcChangeGame(form.game)">
                            <option value="ALL">
                                全部
                                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;
                            </option>
                            <option :value="item.game_Id" v-for="item in gameList" :key="item.game_Id">
                                {{ item.game_Id }}
                            </option>
                        </select>
                    </div>
                </el-col>
            </div>
            <el-form-item>
                <el-button type="primary" @click="fcSubmitForm()">查詢</el-button>
            </el-form-item>
        </el-form>
        <div v-show="reportVisible">
            <el-table :data="tableData.slice((currentPage - 1) * 10, currentPage * 10)" stripe style="width: 100%">
                <el-table-column prop="id" label="id" width="180" />
                <el-table-column prop="datetime" label="datetime" width="180" />
                <el-table-column label="thirdParty_Id" width="180">
                    <template #default="scope">
                        <el-tag @click="fcOpenBox(scope.row)">{{
                            scope.row.thirdParty_Id }}</el-tag>
                    </template>
                </el-table-column>
                <el-table-column prop="peiLv" label="peiLv" width="180" />
                <el-table-column prop="yaMa" label="yaMa" width="180" />
                <el-table-column prop="stake_Score" label="stake_Score" width="180" />
                <el-table-column prop="account_Score" label="account_Score" width="180" />
                <el-table-column prop="tuiSui" label="tuiSui" width="180" />
                <el-table-column prop="club_AScore" label="club_AScore" width="180" />
                <el-table-column prop="jackpot_Score" label="jackpot_Score" width="180" />
            </el-table>
            <el-pagination small background hide-on-single-page layout="prev, pager, next ,jumper" :total="tableData.length"
                pagesize="10" class="mt-4" @current-change="fcChangePage" />
            <el-button class="last-btn" type="info" @click="fcChangeVisible()" v-show="reportVisible">上一頁
            </el-button>
        </div>

    </div>
</template>

<script setup lang="ts">
import useReport from '@/mixins/useReport'
const
    {
        form,
        dateList,
        tableData,
        currentPage,
        clubList,
        gametypeList,
        gameList,
        dateMin,
        dateMax,
        reportVisible,
        fcChangeTime,
        fcSubmitForm,
        fcChangeVisible,
        fcChangePage,
        fcChangeClass,
        fcChangeClub,
        fcChangeGame,
        fcOpenBox,
    } = useReport()

</script>

<style scoped lang="scss">
.report-wrap {
    padding: 15px;
}

.ui_iptDate {
    display: flex;
    align-items: center;
    padding: 9px 15px;
    width: 436px;
    border-radius: 6px;
    position: relative;
    background: #409eff;

    .ipt_date {
        background: #409eff;
        border: none;
        width: 100%;
        font-size: 16px;
        color: #fff;
        position: relative;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
    }
}

.form-row {
    display: flex;
    margin-bottom: 20px;
    gap: 20px;

    .form-col {
        background: rgba(0, 0, 0, 0.3);
        padding: 40px 20px;
        position: relative;
        display: inline-flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 15px 0;


        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border: 1px solid rgba(233, 190, 128, 0.25);
            border-radius: 0 15px 15px;
            z-index: -2;
        }

        .form_title {
            font-size: 20px;
            color: #e0c8a5;
            text-shadow: 3px 0 7px rgba(0, 0, 0, 0.5);
            font-style: italic;
            letter-spacing: 10px;
            position: absolute;
            width: 150px;
            left: 20px;
            top: -13px;

            &::after {
                content: "";
                position: absolute;
                top: 13px;
                width: 100%;
                height: 1px;
                background: #0f212f;
                left: 0;
                z-index: -1;
            }
        }

        .ui_sel {
            display: flex;
            align-items: center;
            padding: 9px 15px;
            border-radius: 6px;
            color: #000;
            outline: none;
            border: none;
            background-color: #fff;
            width: 250px;
        }
    }
}

.last-btn {
    margin-top: 30px
}

:deep(.el-tag__content) {
    cursor: pointer;
}
</style>