<template>
    <h1 class="title">報表歷史</h1>
    <el-table :data="fcFilterData.slice((currentPage - 1) * 10, currentPage * 10)" stripe style="width: 100% ;margin: 15px">
        <el-table-column prop="id" label="id" width="180" />
        <el-table-column prop="game_id" label="game_id" width="180" />
        <el-table-column prop="datetime" label="datetime" width="180" />
        <el-table-column prop="bet" label="bet" width="180" />
        <el-table-column prop="win" label="win" width="180" />
    </el-table>
    <el-pagination small background hide-on-single-page layout="prev, pager, next ,jumper" :total="fcFilterData.length"
        pagesize="10" class="mt-4" @current-change="fcChangePage" />
    <el-button class="btn" type="primary" @click="fcBack()">
        回上一頁
    </el-button>
</template>

<script setup lang="ts">
import { useRouter, useRoute } from 'vue-router'
import { apiGetGameHistory } from '@/service/report/index'
const router = useRouter()
const route = useRoute()
interface Iquery {
    summary_id: string,
    reportTime: string,
    thirdParty_Id: string
}
const query: Ref<Iquery> = ref({
    summary_id: '',
    reportTime: '',
    thirdParty_Id: ''
})

const tableData: Ref<any[]> = ref([])
const currentPage: Ref<number> = ref(1)
const fcBack = async () => {
    router.push({ path: '/report' })
}

const fcGetGameHistory = async () => {
    if (route.query.param) {
        query.value = JSON.parse(route.query.param as string);
    }
    const param = {
        summary_id: query.value.summary_id,
        reportTime: query.value.reportTime,
        web_Id: 'web',
        pageIndex: '1',
        pageSize: '100'
    }
    const res = await apiGetGameHistory(query.value.thirdParty_Id, param)
    if (res.status) {
        tableData.value = res.result
    }
}
const fcChangeKey = (thirdPartyId: string) => {
    const key = thirdPartyId.toLowerCase()
    switch (key) {
        case 'mt':
            return {
                keyId: 'rowID',
                keyGameId: 'gameCode',
                keyDateStart: 'gameDate',
                keyDateEnd: '',
                keyBet: 'betAmount',
                keyWin: 'income',
                keyJackpot: '',
            }

        default:
            return {
                keyId: 'rowID',
                keyGameId: 'gameCode',
                keyDateStart: 'gameDate',
                keyDateEnd: '',
                keyBet: 'betAmount',
                keyWin: 'income',
                keyJackpot: '',

            }
    }
}
const fcFilterData = computed(() => {
    const { keyId, keyGameId, keyDateStart, keyDateEnd, keyBet, keyWin, keyJackpot } = fcChangeKey(query.value.thirdParty_Id)
    const data = tableData.value.map((item: any) => {
        return {
            id: item[keyId],
            game_id: item[keyGameId],
            datetime: item[keyDateStart],
            dateEnd: item[keyDateEnd] ?? item[keyDateStart],
            bet: item[keyBet],
            win: item[keyWin],
            jackpot: item[keyJackpot],
        }
    })
    return data
})
fcGetGameHistory()
const fcChangePage = (page: number) => {
    currentPage.value = page
}
</script>

<style scoped lang="scss">
.title {
    margin: 15px;
}

.btn {
    margin-left: 15px;
}
</style>