<template>
    <div class="header">
        <div class="sec_header">
            <div class="reg_head">
                <router-link class="lnk_logo" to="/"></router-link>
                <login />
                <lang />
            </div>
            <div class="hr_gold large" />
            <div class="nav">
                <template v-for="(item, index) in routerList" :key="index">
                    <li class="li_nav">
                        <a class="lnk_nav" @click="fcChangeRouter(item.name)"  :class="`i_${item.name}`">
                            <span class="txt_nav">{{ $t(item.name) }}</span>
                        </a>
                    </li>
                </template>
            </div>
            <div class="hr_gold" />
        </div>
    </div>
</template>

<script lang="ts" setup>
import {ComputedRef} from 'vue'
import login from '@/components/login.vue'
import lang from '@/components/lang.vue'
import { useStore } from 'vuex';
import {useRouter} from 'vue-router';
import { routerInter} from '@/router/desktop'

const store = useStore();
const router = useRouter();
const gameType = computed(() => store.getters.gameTypeList);
const routerList : ComputedRef<routerInter[]> = computed(()=> router.options.routes[1].children?.slice(3) as routerInter[])
const fcChangeRouter = (path: string)=>{
    router.push(path)
}

</script>

<style scoped lang="scss">
@import "@/assets/scss/header.scss";
</style>
