<script setup lang="ts">
import bacc from "@/components/road/bacc.vue"
import dt from "@/components/road/dt.vue"
import roulette from "@/components/road/roulette.vue"
const props = defineProps({
  roadList: Array,
  gameType: String,
})
const isCom = computed(()=> {
  switch(props.gameType){
    case 'baccarat':
      return bacc
    case 'DT':
      return dt
    case 'roulette':
      return roulette
  }
  return ''
})

</script>

<template>
  <component :is="isCom" :roadList="props.roadList"  />
</template>

<style scoped lang="scss">

</style>
