<script setup lang="ts">
import { useStore } from 'vuex'
import { apiLogInfo } from '@/service/member/index'
import { ElNotification } from 'element-plus'
const store = useStore()
const accounInfo = computed(() => localStorage.getItem('accountInfo'))
const token = computed(() => localStorage.getItem('userToken'))
const fcCheckLogin = async (): Promise<void> => {
  const result = await apiLogInfo()
  if (result.status) {
    store.commit('changeAccountInfo', result.result)
  }
}
if (accounInfo.value && token.value) {
  fcCheckLogin()
} else {
  ElNotification({
    title: '目前未登入',
    message: '請先登入',
    type: 'info',
  })

}
</script>

<template>
  <RouterView />
</template>

<style scoped></style>
